.wrapper {
  width: 40rem;
  margin: 20rem auto;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}