
.message {
  display: inline;
  overflow: hidden;
  border-radius: 4px;
  background-color: #1d8c1d;

  align-self: start;
  justify-self: start;

  padding: 4px 10px;

  max-width: 500px;
  text-wrap: wrap;
  text-align: start;

  height: auto;

  color: light-dark(var(--mantine-color-white), var(--mantine-color-gray-0));

  &.isMine {
    align-self: end;
    justify-self: end;

    background-color: #565656;
  }
}
