
.message {
  display: inline;
  overflow: hidden;
  border-radius: 4px;
  background-color: #1d8c1d;

  align-self: start;
  justify-self: start;

  padding: 4px 10px;

  max-width: 300px;
  text-wrap: wrap;

  height: auto;

  &.isMine {
    align-self: end;
    justify-self: end;

    background-color: #565656;
  }
}
