.wrapper {
  display: block;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 470px;

  animation: appear 0.3s ease;
}


.list {
  padding-right: 14px;

}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}