.wrapper {
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  transition: scrollbar-color .3s ease;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;

  padding: 0 0.1rem 0.5rem 1rem;

  animation: appear 0.3s ease;
}

.list {
  max-width: var(--width-chat);
  margin: 0 auto;
  padding-right: 14px;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}