.Stack {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignStretch {
  align-items: stretch;
}

.alignEnd {
  align-items: flex-end;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.gap2 {
  gap: 2px;
}

.gap36 {
  gap: 36px;
}

.gap14{
  gap: 14px;
}
.gap10{
  gap: 10px;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.gap24 {
  gap: 24px;
}

.gap16 {
  gap: 16px;
}

.gap32 {
  gap: 32px;
}
.gap12 {
  gap: 12px;
}
.gap6 {
  gap: 6px;
}
.gap48 {
  gap: 48px;
}

.max {
  width: 100%
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}