.ChatNavigation {
  min-width: 250px;
  max-height: 600px;
  overflow: hidden;
}

.item {
  cursor: pointer;
  padding: 4px 6px;
}

.active {
  background-color: #565656;
  border-radius: 6px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 14px;
}

.homeLink {
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s ease;
  
  &:hover {
    color: inherit;
    opacity: 0.8;
  }
}

.scrollContainer {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}
