.ChatNavigation {
  min-width: 200px;
}

.item {
  cursor: pointer;
  padding: 4px 6px;
}

.active {
  background-color: #565656;
  border-radius: 6px;
}

.contactsList {
  margin-top: 14px;
  max-height: 600px;
  overflow-y: scroll;
}

.mainLink {
  font-size: 2rem;
  color: inherit;

}