.InputMessageContainer {
  width: 100%;
  max-width: var(--width-chat);
  height: auto;
  margin: 0 auto;

  padding: 0.5rem;
  z-index: 5;
}

.MessageInput {
  padding: 0.75rem 0;
  width: 100%;
}

.Textarea {
  width: 100%;
}